<div class="text">
    <h1><strong>Register Admin</strong></h1>
</div>

<div class="form" >
<form (ngSubmit)="registerAdmin()" name="registerForm" [formGroup]="registerForm">

    <mat-form-field color="primary" appearance="fill">
        <mat-label>First Name</mat-label>
        <input formControlName="firstname" matInput color="accent" #firstname required>
    </mat-form-field>

    <mat-form-field color="primary" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastname" matInput color="accent" #lastname required>
    </mat-form-field>

    <mat-form-field color="primary" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput color="accent" #email required>
    </mat-form-field>

    <mat-form-field color="primary" appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput color="accent" #username required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" #password required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'" #password required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

    <button id="button" mat-raised-button color="primary">Register</button>
  </form>
</div>
