<div class="text">
    <h1><strong>Login</strong></h1>
</div>

<div class="form">
    <mat-form-field color="primary" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput color="accent" #username required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" #password required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button id="button" mat-raised-button color="primary" (click)="loginAdmin(username.value, password.value)">Login</button>
</div>